<h1>Listing sites</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Radius</th>
    <th>Circule</th>
  </tr>

<% for site in @sites %>
  <tr>
    <td><%=h site.latitude %></td>
    <td><%=h site.longitude %></td>
    <td><%=h site.radius %></td>
    <td><%=h site.circule_id %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site', new_site_path %>
