<h1>New photo</h1>

<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :taken_time %><br />
    <%= f.datetime_select :taken_time %>
  </p>
  <p>
    <%= f.label :thumbnail_url %><br />
    <%= f.text_field :thumbnail_url %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', photos_path %>
